.products-container {
    margin: 75px 0;
    width: 80vw;
}

.section-heading {
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.section-heading::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 60px;
    height: 3px;
    position: absolute;
    background-color: black;
    transform: scaleX(1);
}

.products {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
}

@media (max-width: 640px) {
    .product-container {
        margin: 50px 0;
    }

    .section-heading {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .section-heading::after {
        margin-top: 4px;
    }

    .products {
        gap: 10px;
    }
}