.category-main-content{
    margin: 75px 0;
}

.category-main-content .layout{
    max-width: 80vw;
    margin: 0 auto;
}

.layout .category-title{
    font-size: 34px;
}

.products-container{
    margin: 50px 0;
}

@media (max-width: 640px){
    .category-main-content{
        margin: 30px 0;
    }

    .category-main-content .layout{
        max-width: calc(100%-20px);
        margin: 0 auto;
    }

    .layout .category-title{
        font-size: 24px;
    }

    .products-container{
        margin: 20px 0;
    }
}